runs0405e

exe
*.root
*.zip
*.png
*.eps
*.o
*~
*#
*.root*
grep
err_*
main
log_*
*.dat
*.d
*.hhh*log
log
log2
*.ccc*

**/exe
**/*.root
**/*.zip
**/*.png
**/*.eps
**/*.o
**/*~
**/*#
**/*.root*
grep
**/err_*
main
**/log_*
**/*.dat
**/*.d
**/*.hhh*
**/log
**/log2
**/*.ccc*
